<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="kh.java.project.projects.board.mapper.BoardMapper">
    <select id="getIssues"
            resultType="kh.java.project.projects.dto.param.Issue">
        select * from issue where project_No = #{projectNo}
        <if test="id != null and id neq ''">
            and (maker = #{id} or pic = #{id})
        </if>
        <if test="keyword != null and keyword neq ''">
            and name LIKE '%' || #{keyword}|| '%'
        </if>


    </select>
    <select id="getProgresses"
            resultType="kh.java.project.projects.dto.param.Progress">
        select *
        from progress
        where no = #{projectNo}
    </select>

    <select id="getAllMembers" resultType="kh.java.project.projects.dto.param.Member">
        select id, name, email
        from users
        where id LIKE '%${keyword}%'
    </select>

    <select id="getMembers" resultType="kh.java.project.projects.dto.param.Member">
        select id, authority as projectAuth, name, email
        from (select id, authority from authorities where project_no = #{projectNo})
                 join users using (id)
    </select>

    <insert id="addMember">
        insert into AUTHORITIES values (
                                           #{id}, #{projectNo}, 'ROLE_MEMBER', sysdate
                                       )
    </insert>

    <insert id="createIssue">
        insert into issue values (
        (select nvl(max(no), 0)+1 from issue),
        #{request.value},
        #{projectNo},
        #{request.name},
        #{id}, 
        <choose>
            <when test="request.pic != null and request.pic neq ''">
                #{request.pic},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="request.anceNo != null">
                #{request.anceNo},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        #{request.progress}
        )

    </insert>
</mapper>