<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="kh.java.project.projects.issue.mapper.IssueMapper">
	<select id="getIssue"
		resultType="kh.java.project.projects.dto.param.Issue">
		select * from issue where project_No=#{projectNo} and no=#{issueNo} and value=#{value}
	</select>
	
	
	<select id="getIssues"
		resultType="kh.java.project.projects.dto.param.Issue">
		select * from issue 
	</select>
	<select id="getComments"
		resultType="kh.java.project.projects.dto.param.Comment">
		select * from issue_comment  
			where project_no=#{projectNo} 
				  and issue_no=#{issueNo}
	</select>
	<select id="getProgresses"
		resultType="kh.java.project.projects.dto.param.Progress">
		select * from progress where no = #{projectNo}
	</select>
	
	<insert id="createComment">
		insert into issue_comment values(
		(select nvl(max(seq), 0)+1 from issue_comment),
		#{projectNo},
		#{issueNo},
		#{id},
		#{comment.content}	
		)	
	</insert>
	
	
	
<update id="updateIssue" parameterType="kh.java.project.projects.dto.param.Project">
	update issue
		pic=#{pic}
		maker=#{maker}	
		name=#{name}
	where project_No=#{projectNo} and no=#{issueNo}
</update>
	
</mapper>
