<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.java.project.member.mapper.MemberMapper">
  <select id="findById" resultType="kh.java.project.member.entity.Users">
    select id, name, email
    from USERS
    where ID=#{id}
  </select>
  <insert id="createUser">
    insert into users (ID, PASSWORD, NAME, EMAIL)
    values (#{id}, #{password}, #{name}, #{email})
  </insert>
  <select id="findAuthoritiesAuth" resultType="String">
    select AUTHORITY
    from AUTHORITIES
    where id = #{id} and project_no = #{projectNo}
  </select>
  <select id="findAuthoritiesAll" resultType="kh.java.project.member.entity.Authorities">
    select id, project_no, authority
    from AUTHORITIES
    where id = #{id}
  </select>
  <insert id="test">
    insert into TEST1 (ID, NAME, PATH)
    VALUES (#{test1.id}, #{test1.name}, #{path})
  </insert>
  <insert id="createAuthorities">
    insert into all_authorities (ID, AUTHORITY)
    values (#{id}, #{role})
  </insert>

</mapper>
