<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- BK: "부적합한 열 유형 1111" 오류 해결을 위해 아래 코드 넣음 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>

    </typeAliases>

    <mappers>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/main-mapper.xml"/>
        <mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/issue-mapper.xml"/>
    </mappers>
</configuration>
